<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FalkirkBinAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FalkirkBinAlert.Properties.Settings>
            <setting name="Uprn" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark.Blue</value>
            </setting>
            <setting name="NagStartTime" serializeAs="String">
                <value>18:00:00</value>
            </setting>
            <setting name="NagInterval" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="RunningWarningShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayNagAudio" serializeAs="String">
                <value>True</value>
            </setting>
        </FalkirkBinAlert.Properties.Settings>
    </userSettings>
</configuration>